*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.routing{
    width: 100%;
    height: auto;
    text-align: center;
    a{
       display: inline;
       padding-left: 20px; 
    }
}
